@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {

    /* COLORS */
    
    --blue: #0D6EFD;
    --black: #2B2B2B;
    --black-900: #121212;
    --cyan: #0DCAF0;
    --green: #198754;
    --indigo: #6610F2;
    --orange: #FD7E14;
    --pink: #B33674;
    --purple: #6F42C1;
    --red: #DC3545;
    --teal: #20C997;
    --yellow: #FFC107;

    /* RADIUS */
    --radius: 40px;

    --font-inter: 'Inter';
    --font-space: 'Space Grotesk';
  }

}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
} */
.swiper{
  padding-block: 50px !important;
  cursor: grab;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: initial !important;
  max-width: max-content;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  width: 13px !important;
  height: 13px !important; 
  background: #121212 !important;
  border: 3.5px solid #fff !important;
  outline: 1px solid #121212 !important;  
  transition: all .3s ease;
}

.swiper-pagination-bullet{
  transition: all .3s ease;
  width: 6px !important;
  height: 6px !important; 
  background: #121212 !important;
  opacity: 1 !important;
  border: 3.5px solid transparent !important;
  outline: 1px solid transparent !important;  
  margin-top: -10px !important;
}

